[submodule "src/submodules/Anapher.Swan.Wpf"]
	path = src/submodules/Anapher.Swan.Wpf
	url = https://github.com/Anapher/Anapher.Wpf.Swan
[submodule "src/submodules/CodeElements.BizRunner"]
	path = src/submodules/CodeElements.BizRunner
	url = https://github.com/CodeElements/CodeElements.BizRunner
[submodule "src/submodules/NuGet.Client"]
	path = src/submodules/NuGet.Client
	url = https://github.com/OrcusTechnologies/NuGet.Client.git
[submodule "src/submodules/TxTranslation"]
	path = src/submodules/TxTranslation
	url = https://github.com/Anapher/TxTranslation
[submodule "src/submodules/NetworkCallTransmission"]
	path = src/submodules/NetworkCallTransmission
	url = https://github.com/CodeElements/NetworkCallTransmission.git
[submodule "src/submodules/MetroTreeListView"]
	path = src/submodules/MetroTreeListView
	url = https://github.com/Anapher/MetroTreeListView.git
