[submodule "src/submodules/CodeElements.BizRunner"]
	path = src/submodules/CodeElements.BizRunner
	url = https://github.com/CodeElements/CodeElements.BizRunner
[submodule "src/submodules/TxTranslation"]
	path = src/submodules/TxTranslation
	url = https://github.com/Anapher/TxTranslation
[submodule "src/submodules/NetworkCallTransmission"]
	path = src/submodules/NetworkCallTransmission
	url = https://github.com/CodeElements/NetworkCallTransmission.git
[submodule "src/submodules/MetroTreeListView"]
	path = src/submodules/MetroTreeListView
	url = https://github.com/Anapher/MetroTreeListView.git
[submodule "src/submodules/TreeViewEx"]
	path = src/submodules/TreeViewEx
	url = https://github.com/Anapher/TreeViewEx.git
[submodule "src/submodules/Anapher.Wpf.Toolkit"]
	path = src/submodules/Anapher.Wpf.Toolkit
	url = https://github.com/Anapher/Anapher.Wpf.Toolkit.git
