<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.3" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks" version="2.2.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.2" targetFramework="net47" />
  <package id="Unclassified.TxLib" version="1.383.76" targetFramework="net47" />
</packages>